.project-item {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 5px;
  font-size: 12px;
  text-align: center;
  max-width: 25em;
  vertical-align: middle;
}

.tools-used {
  opacity: 0.45;
}

.view-button {
  border: none;
  display: inline-block;
  width: 100%;
  background-color: rgb(200, 190, 190);
  padding: 8px 16px;
  white-space: normal;
  color: #000;
  background-color: #f1f1f1;
  display: block;
}

html, body, header {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (max-width:600px) {
  .hide-small {
    display: none !important
  }
}

@media (min-width:600px) {
  .hide-big {
    display: none !important;
  }
}

.top-bar {
  position: relative;
  width: 100%;
  z-index: 1;
  top: 0;
  overflow: hidden;
  display: inline-block;
  color: #000 !important;
  background-color: #fff !important;
  padding: 8px 16px !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* max-height: 45px; */
}

.button {
  text-decoration: none;
  text-align: center;
  color: black;
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  padding: 10px 16px;
  font-size: inherit;
  white-space: nowrap;
}

.button:hover {
  color: #000 !important;
  background-color: #ccc !important
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.scale {
  max-width: 100%;
  height: auto;
}

.cell {
  display: table-cell;
}

.row {
  display: table;
  width: 90%;
}

.username {
  font-size: 17px;
}

.content {
  width: 100%;
}